<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <!-- <h4>{{ 'gestionar.comic.titulo.parametros' | translate: {mensaje: parametro, mensaje2: 'algo'} }}</h4>
                    <h4 class="title" translate [translateParams]="{mensaje: parametro, mensaje2: 10}">gestionar.comic.titulo.parametros</h4> -->
                    <!-- Componente que muestra los mensajes de exito del formulario -->
                    <div *ngIf="mostrarMensajeExito" class="alert alert-info" role="alert">
                        <h5>{{ 'gestionar.comic.creacion.exitosa' | translate }}</h5>
                        <button type="button" aria-hidden="true" class="close" (click)="cerrar()">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="mostrarMensajeFallido">
                        <h5>{{ mensajeEjecucion }}</h5>
                        <button type="button" aria-hidden="true" class="close" (click)="cerrar()">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>     
                    </div>

                    <div class="row">
                        <pre>{{ comicDto | json }}</pre>
                    </div>
                    <h4>{{ 'gestionar.comic.titulo' | translate }}</h4>
                </div>

                <div class="card-body">
                    <form [formGroup]="gestionarComicForm">
                        <div class="row">
                            <!-- Inicia Campo nombre comic -->
                            <div class="col-6">
                                <label for="txtNombre">{{ 'gestionar.comic.label.nombre' | translate }}</label>
                                <input type="text" class="form-control" maxlength="50" id="txtNombre"
                                    formControlName="nombre" [ngClass]="{ 'is-invalid' : validoFormulario && f.nombre.errors }">
                                    <div *ngIf="validoFormulario && f.nombre.errors">
                                        <span class="text-danger" *ngIf="f.nombre.errors.required">Campo requerido</span>
                                        <!-- <span class="text-danger" *ngIf="f.nombre.errors.maxLength">Solo se permite un maximo de 50 caracteres</span>
                                        <span class="text-danger" *ngIf="f.nombre.errors.email">El campo ingresado no tiene formato email SDAFas</span> -->
                                    </div>
                            </div>
                            <!-- Finaliza Campo nombre comic -->

                            <div class="col-6">
                                <label for="txtEditorial">{{ 'gestionar.comic.label.editorial' | translate }}</label>
                                <input type="text" class="form-control" maxlength="50" 
                                    id="txtEditorial" formControlName="editorial" 
                                    [ngClass]="{ 'is-invalid' : validoFormulario && f.editorial.errors }">
                                <div *ngIf="validoFormulario && f.editorial.errors">
                                    <span class="text-danger">Campo requerido</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Inicia lista tematica comic -->
                            <div class="col-6">
                                <label for="tematica">{{ 'gestionar.comic.label.tematica' | translate }}</label>
                                <select class="form-control" id="tematica" formControlName="tematicaEnum" (change)="agregarValidacionColeccion()"
                                        [ngClass]="{ 'is-invalid' : validoFormulario && f.tematicaEnum.errors }">
                                    <option value="AVENTURAS">Aventuras</option>
                                    <option value="BELICO">Belico</option>
                                    <option value="DEPORTIVO">{{ 'gestionar.comic.items.tematica.deportivo' | translate
                                        }}</option>
                                    <option value="FANTASTICO">Fantastico</option>
                                    <option value="CIENCIA_FICCION">{{ 'gestionar.comic.items.tematica.cienciaFiccion' |
                                        translate }}</option>
                                    <option value="HISTORICO">Historico</option>
                                    <option value="HORROR">Horror</option>
                                </select>
                                <div *ngIf="validoFormulario && f.tematicaEnum.errors">
                                    <span class="text-danger">Campo requerido</span>
                                </div>
                            </div>
                            <!-- Finaliza lista tematica comic -->

                            <div class="col-6">
                                <label for="txtColeccion">Coleccion:</label>
                                <input type="text" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid' : validoFormulario && f.coleccion.errors }"
                                    id="txtColeccion" formControlName="coleccion">
                                <div *ngIf="validoFormulario && f.coleccion.errors">
                                    <span class="text-danger">Campo requerido</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="numeroPaginas">Número paginas:</label>
                                <input type="number" class="form-control" maxlength="3"
                                    [ngClass]="{ 'is-invalid' : validoFormulario &&  f.numeroPaginas.errors }"
                                    id="numeroPaginas" formControlName="numeroPaginas">
                                <div *ngIf="validoFormulario &&  f.numeroPaginas.errors">
                                    <span class="text-danger">Campo requerido</span>
                                </div>
                            </div>

                            <div class="col-6">
                                <label for="precio">Precio:</label>
                                <input type="number" class="form-control" id="precio" formControlName="precio"
                                    [ngClass]="{ 'is-invalid' : validoFormulario && f.precio.errors }">
                                <div *ngIf="validoFormulario && f.precio.errors">
                                    <span class="text-danger">Campo requerido</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="autores">Autores:</label>
                                <textarea class="form-control" id="autores" rows="3"
                                    formControlName="autores">
                                </textarea>
                            </div>

                            <label for="color">A color:</label>
                            <br>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" [value]="true"
                                    class="custom-control-input" formControlName="color">
                                <label class="custom-control-label" for="customRadioInline1">Si</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" [value]="false"
                                    class="custom-control-input" formControlName="color">
                                <label class="custom-control-label" for="customRadioInline2">No</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-6">
                        <span></span>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" class="btn btn-primary" (click)="crearComic()">
                            {{ 'gestionar.comic.boton.crear' | translate }}
                        </button>
                    </div>
                </div>

                <br>

                <div class="row" *ngIf="listaComics.length > 0">
                    <div class="col-12">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tematica</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">A color</th>
                                    <th scope="col">Fecha Venta</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--date:"MM/dd/yy"
                                    | uppercase-->
                                <tr *ngFor="let comic of listaComics;let i = index;">
                                    <th scope="row">{{i}}</th>
                                    <!-- Transforma el nombre del comic a mayusculas -->
                                    <td>{{comic.nombre | uppercase }}</td>
                                    <td>{{comic.tematicaEnum | lowercase }}</td>
                                    <td>{{comic.precio | number: '.2'}}</td>
                                    <td>{{comic.color ? 'Si' : 'No' }}</td>
                                    <td>{{comic.fechaVenta | date:"MM/dd/yy hh:mm:ss" }}</td>
                                    <td>{{comic.estado }}</td>
                                    <td>{{comic.cantidad }}</td>
                                    <td class=" text-primary">
                                        <i class="fas fa-search 2x ml-1" title="Consultar" (click)="irConsultaComic(comic)"></i>
                                        <i class="fas fa-pencil-alt 2x ml-1" title="Editar"></i>
                                        <!-- <i class="far fa-times-circle 2x ml-1" title="Eliminar" (click)="abrirmodal(content, comic.id)"></i> -->
                                        <i class="far fa-times-circle 2x ml-1" title="Eliminar" (click)="confirmarEliminacion(comic.id)"></i>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- MODAL -->
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Confirmacion</h4>                        
                    </div>
                    <div class="modal-body">
                        <p>Estas seguro de eliminar el comic seleccionado?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c(true)">Eliminar Comic</button>
                        <button type="button" class="btn btn-outline-dark" (click)="c(false)">Cancelar</button>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>
